body {
    background-color: paleturquoise;   
}

#userName {
    margin-top:30px
}

#box1 {
    margin-top: 30px;
    width: 200px;
    height: 60px;
    background-color: green;
}

#btnChatRoom {
    margin-top: 30px;
}

#chatBox {
    display: none;
    margin-top: 30px;
    width: 400px;
    height: 300px;
    background-color: white;
    border: 3px solid green;
    border-radius: 10px;
    opacity: 1;
    
}

#sendMsg {
    margin-top: 30px;
}

li {
    list-style-type: square;
    margin-left: 20px;
    color: green;
}

#login {
    margin-top: 30px;
}